<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Cyrus Studio</title>

<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

<!-- font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- bootstrap -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />

<!-- animate.css -->
<link rel="stylesheet" href="assets/animate/animate.css" />
<link rel="stylesheet" href="assets/animate/set.css" />

<!-- gallery -->
<link rel="stylesheet" href="assets/gallery/blueimp-gallery.min.css">

<!-- favicon -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">


<link rel="stylesheet" href="assets/style.css">
<title>Simple markers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding-top: 27px;
      }
      #map {
        height: 45%;
      }
    </style>

</head>

<body>
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:rgba(0,205,205,1);opacity:0.5">
        <div class="container">
           
         <div class="navbar-header" style="content:12px"> 
                <a class="navbar-brand"  style="color:white;"><strong>전시 위치 한눈에 보기(서울)</strong></a>
     
         </div>
        
        <div class="navbar-collapse  collapse"> 
                     <form class="nav navbar-nav navbar-middle scroll" style= "margin: 3px 0px 0px 450px" action="/bbb" method="GET" />
                     <input id="search" name="tag" type="search"  placeholder="Search" />
                     <button type="submit" value="search">&nbsp;</button> 
                     </form>
              <ul class="nav navbar-nav navbar-right scroll"> 
                   
                <div class="btn-group" style="margin:3px">
    
                    <button type="button" class="btn btn-danger" style="background-color:lightgray; color:black;
                      font-family: arial"><strong>종류 선택</strong></button>
   
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      style="background-color:lightblue">
                          <span class="caret" style="color:black"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                    </button>
                           <ul class="dropdown-menu">
                             <li><a href="/bbb"><strong>전 시</strong></a></li>
                             <li><a href="/ccc"><strong>공 연</strong></a></li>
                             <li><a href="/ddd"><strong>축 제</strong></a></li>
                             
                           </ul>
                   </div>
                
                 </ul>
               </div> 
        
        
        
        </div>
    </nav>
      
      
    <div id="map"></div>
    <script>
function initMap() {
  var myLatLng = {lat: 37.526568, lng: 126.985773 // 지도 중심
};
    var myLatLng2 = {lat: 37.553590, lng:126.921729 // 트릭아이
};  
    var myLatLng3 = {lat: 37.571874, lng: 126.987174 // 박물관은 살아있다
};
     var myLatLng4 = {lat: 37.566294, lng:126.980472 // 그레뱅 뮤지엄
};

    var myLatLng5 = {lat: 37.577500, lng:126.973359 // 색, 다른 공간이야기 대림미술관
};

   var myLatLng6 = {lat: 37.59434, lng: 126.966282 // 사람은 가고 예술은 남다
};

   var myLatLng7 = {lat: 37.566862, lng: 127.009746 // 간송문화전 DDP
};

   var myLatLng8 = {lat: 37.564017, lng: 126.973814 // 드림웍스 애니메이션, 가나아트 서울시립미술관
};

  var myLatLng9 = {lat: 37.55092, lng: 126.921091 // 장자끄 상뻬
};

  var myLatLng10 = {lat: 37.478766, lng:127.011835 // 프리다칼로,앤서니브리운,로이터 예술의전당
};

  var myLatLng11 = {lat: 37.565891, lng:126.973703 //이중섭 백년 국립현대미술관
};
  
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: myLatLng
  });
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello !'
  });

  
   var marker = new google.maps.Marker({
    position: myLatLng2,
    map: map,
    title: '트릭아이 미술관'
  });
  
  var marker = new google.maps.Marker({
    position: myLatLng3,
    map: map,
    title: '박물관은 살아있다'
  });
  
  var marker = new google.maps.Marker({
    position: myLatLng4,
    map: map,
    title: '그레뱅 뮤지엄'
    
  });
  
  var marker = new google.maps.Marker({
    position: myLatLng5,
    map: map,
    title: '색, 다른 공간이야기'
  });
  
  var marker = new google.maps.Marker({
    position: myLatLng6,
    map: map,
    title: '사람은 가고 예술은 남다'
  });
  
  var marker = new google.maps.Marker({
    position: myLatLng7,
    map: map,
    title: '간송문화전'
  });
  
  var marker = new google.maps.Marker({
    position: myLatLng8,
    map: map,
    title: '1.드림웍스 애니메이션, 2.가나아트 컬렉션'
  });
  
  var marker = new google.maps.Marker({
    position: myLatLng9,
    map: map,
    title: '장자끄 상뻬'
  });
  
  var marker = new google.maps.Marker({
    position: myLatLng10,
    map: map,
    title: '1.프리다칼로 디에고리베라 2.앤서니브라운전 3.로이터사진전'
  });
  
   var marker = new google.maps.Marker({
    position: myLatLng11,
    map: map,
    title: '이중섭 백년의 신화전'
  });
  
  // 마커를 지도에 표시합니다.
     marker.setMap(map);
// 마커에 커서가 오버됐을 때 마커 위에 표시할 인포윈도우를 생성합니다
     var iwContent = '<div style="padding:5px;">Hello World!</div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
// 인포윈도우를 생성합니다
     var infowindow = new google.maps.InfoWindow({
     content : iwContent
     });
// 마커에 마우스오버 이벤트를 등록합니다
     google.maps.event.addListener(marker, 'mouseover', function() {
  // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
     infowindow.open(map, marker);
     });
// 마커에 마우스아웃 이벤트를 등록합니다
     google.maps.event.addListener(marker, 'mouseout', function() {
    // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
     infowindow.close();
     });
  
    
}    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtVkfTXChOngpt9ksVWNyo4iMCkTs2WtQ&signed_in=true&callback=initMap"></script>
  
  
<!-- works -->

 <a  href="/aaa" style="color:blue;"><strong>aaa로 이동</strong></a>

    <div id="works"  style = "padding-top:15px" class=" clearfix grid">    
        
       <% @every_homes.each do |p| %> 
       <figure class="effect-oscar  wowload fadeInUp" style="padding-right:30px; padding-left:30px;
       padding-bottom:30px; padding-up:10px;position:relative" >
      
      <div> 
        <%= image_tag p.image, :width=>450, :height=>300 %>
      </div>
     
        
        <figcaption>
       
        <h2><%=p.title %></h2>
        <br>
        <p> <%=p.content %>
            <br>
            <a href="images/portfolio/2.jpg" title="1" data-gallery>바로가기</a>
            <br>
            Tags: <%=raw p.tags.map(&:name).map{|t| link_to t, tag_path(t) }.join{', '}%>
        </p>            
        </figcaption>
        
        
        <div class style="background-color:#FFCC99; box-sizing: border-box">
        <h4><strong><%=p.title%></strong></h4>
        <h8> <%=p.content %></h8>
        <p><h6>Tags: <%=raw p.tags.map(&:name).map{|t| link_to t, tag_path(t) }.join{', '}%></h6></p>
        </div>
         </figure>
        
         
     
   <% end %>
   </div> 
   



<!-- jquery -->
<script src="assets/jquery.js"></script>
<!-- wow script -->
<script src="assets/wow/wow.min.js"></script>
<!-- boostrap -->
<script src="assets/bootstrap/js/bootstrap.js" type="text/javascript" ></script>
<!-- jquery mobile -->
<script src="assets/mobile/touchSwipe.min.js"></script>
<script src="assets/respond/respond.js"></script>
<!-- gallery -->
<script src="assets/gallery/jquery.blueimp-gallery.min.js"></script>
<!-- custom script -->
<script src="assets/script.js"></script>
</body>
</html>